body {
    font-family: "Ariel", sans-serif;
}
.divparent {
    display: flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    box-sizing:border-box;
    /*overflow-y:scroll;*/
}
.maindiv {
    background:#fcf;
    margin:auto;
    border:1px #999;
    height:85%;
    width:95%;
    padding:10px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
}
.menudiv {
    background:#fcf;
    margin:auto;
    border:1px #999;
    height:100%;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
}
.flagdiv {
    overflow-y:scroll;
    height:100%;
}
.abscenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#left {
    width: 60%;
    float: left;
    padding-left: 0px;
    box-sizing: border-box;
}
#right {
    text-align: right;
    font-size: 18px;
    box-sizing: border-box;
}
.clear {
    clear:both;
}

#thread dl.userinfo dt.author {
    margin-bottom: 4px;
    padding-bottom: 0;
    font-weight: bolder;
    color: #111;
    text-shadow: 1px 1px 0 #eee;
    font-size: 15px;
    font-size: 15px;
    overflow-wrap: break-word;
}


/* modal shit - customize later, just get it working for now */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fcf; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-sizing:border-box;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fcf;
    margin: auto;
    position:relative;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    height:85%;
    box-sizing:border-box;
    /* overflow-y:hidden; */
    overflow-y:scroll;
    display:flex;
    flex-direction:column;
  }
  
  /* The Close Button */
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display:flex;
    justify-content:flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }