<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=VT323');
		
        body {
            font-family: "Comic Sans MS", "Comic Sans";
            font-size: 1.5em;
        }
        input[type=submit] {
            background-image:url('images/button.png');
            background-size:cover;
            font-family: 'VT323';
            font-size: 1em;
            color:black;
        }
        input[type=text] {
            font-family: 'VT323';
            font-size:0.9em;
        }
		
        div {
            width:70%;
            background-image:url("{{url_for('static', filename='rainbow.gif')}}");
            background-size:cover;
        }
    </style>
	
    <script>
        function searchFunc(event){
            event.preventDefault();
            window.location.href = ("/playlist/" + document.getElementById('threadid').value);
        }
    </script>
	
</head>
<body style="background-image:url('https://anlucas.neocities.org/tealmarble.gif');background-size:repeat;">
    <center>
        <img src="/static/wordart.png" style="height:35%">
        <p style="color:white;margin-top:0;"><b>generate "playlists" from SA threads</b></p>
		
        <div style="border: 5px solid black;">
            <br>
            <form onsubmit="searchFunc(event)" method="GET">
                <input type="text" id="threadid" name="threadid" placeholder="Thread ID (not full url)" size="24"><br>
                <input type="submit" value="view playlist"/>
            </form>

    </center>
</body>
</html>
