<head>
    <title>SA Playlist Generator - {{ thread_title|e }}</title>
    <meta name="description" content='a playlist generated from the "{{ thread_title|e }}" thread on somethingawful'/>
    <meta name="keywords" content="somethingawful, music, goon" />
    <meta name="author" content="hbag"/>
    <meta name="generator" content="flask"/>
    <link rel="stylesheet" type="text/css" href="/static/playlists.css">
    <link rel="stylesheet" type="text/css" href="//forums.somethingawful.com/css/fyad/fyad.css?40">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/cookiestuff.js"></script>
</head>

<body style="background:#fcf">
    <div class="divparent">
        <div class="maindiv">
            <center>
                <h1 style="margin-bottom:0;">waow a playlist...<br>{{ thread_title|e }}</h1>
            </center>
            <div class="abscenter"><center>
                <div id="player"></div><br><br>
                <p id="shuffle_status"></p>
                <button onclick="toggleShuffle();">Toggle Shuffle</button><br>
                <button onclick="skipVid();">Skip Track</button>
            </center></div>
        </div>
    </div>
</body>



<script src="http://www.youtube.com/player_api"></script>

<script>
    vid_ids = {{ vid_ids | tojson }};
    
    if(getCookie('shuffle') === '1') {
        count = Math.floor(Math.random() * vid_ids.length);
    } else {
        count = 0;
    }
    //console.log(vid_ids)

    // function for going to the next vid
    function nextVid() {
        // loop if at the end of the video list
        if(count === vid_ids.length-1) {
            count = 0;
        } else {
            count += 1;
        }
        player.loadVideoById(vid_ids[count]);
    }

    function toggleShuffle() {
        shuffle_cookie = getCookie('shuffle');
        if(shuffle_cookie === '1') {
            setCookie('shuffle', 0, 2100);
            document.getElementById("shuffle_status").innerHTML = "Shuffle is currently <b>OFF</b>"
        } else {
            setCookie('shuffle', 1, 2100);
            document.getElementById("shuffle_status").innerHTML = "Shuffle is currently <b>ON</b>"
        }
    }
    
    window.addEventListener('load', (event) => {
        shuffle_cookie = getCookie('shuffle');
        if(shuffle_cookie === '1') {
            document.getElementById("shuffle_status").innerHTML = "Shuffle is currently <b>ON</b>"
        } else {
            document.getElementById("shuffle_status").innerHTML = "Shuffle is currently <b>OFF</b>"
        }
    });

    // play a random video from the array
    function shuffle() {
        count = Math.floor(Math.random() * vid_ids.length);
        player.loadVideoById(vid_ids[count])
    }

    // function for skipping video
    function skipVid() {
        shuffle_cookie = getCookie('shuffle');
        if(shuffle_cookie === '1') {
            shuffle()
        } else {
            nextVid();
        }
    }
    

    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: vid_ids[count],
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
            'onError': onError
          }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            //alert('done');
            skipVid();
        }
    }

    // when video fucks up
    function onError(event) {
        skipVid();
    }
    
</script>

